.app.dark {
  --bg-color: #000067;
  --inverted-bg-color: #c0c0e0;

  --primary-color: #07a407;
  --secondary-color: #05b605;

  --inverted-primary-color: #02629b;
  --inverted-secondary-color: #054cb6;
}
