.app.light {
  --bg-color: #c0c0e0;
  --inverted-bg-color: #000067;

  --primary-color: #02629b;
  --secondary-color: #054cb6;

  --inverted-primary-color: #07a407;
  --inverted-secondary-color: #05b605;
}
